doctype html
html(lang="en")
  head
    title= battleship
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    header
      h1.title battleship
    section.container
      #player.board
      #opponent.board
      #controls
        #feed
    
